<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ModernMewgibot.Bot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ModernMewgibot.UserInterface" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ModernMewgibot.Bot>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="OAuth" serializeAs="String">
        <value />
      </setting>
      <setting name="Channel" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>set-client-id-here</value>
      </setting>
      <setting name="LinkModEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PurgeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SongEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SongFile" serializeAs="String">
        <value>Not Configured</value>
      </setting>
      <setting name="FollowGreetingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubGreetingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowGreeting" serializeAs="String">
        <value>Follower Greeting Goes Here</value>
      </setting>
      <setting name="SubGreeting" serializeAs="String">
        <value>Subscriber Greeting Goes Here</value>
      </setting>
      <setting name="HostAutoThank" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubsCanLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegularsCanLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuotesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChannelAccessToken" serializeAs="String">
        <value />
      </setting>
    </ModernMewgibot.Bot>
    <ModernMewgibot.UserInterface>
      <setting name="SelectedAccentColor" serializeAs="String">
        <value>#FFFA6800</value>
      </setting>
      <setting name="SelectedThemeSource" serializeAs="String">
        <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
      </setting>
      <setting name="SelectedThemeDisplayName" serializeAs="String">
        <value>dark</value>
      </setting>
      <setting name="SelectedFontSize" serializeAs="String">
        <value>large</value>
      </setting>
    </ModernMewgibot.UserInterface>
  </userSettings>
</configuration>